h1{
    color:blue;
    background-color: yellow;
}

body{
    background-color: pink;
}

button{
    background-color: rgb(27, 23, 23);
    border-radius: 8px;
    font-size: 20px;
    color:white;
    border-color: white;
}